* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', 'Courier', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(90deg, rgba(172,0,0,1) 0%, rgba(159,0,0,1) 49%, rgba(55,0,0,1) 100%);
}

.frame {
    background: linear-gradient(280deg, rgba(172,0,0,1) 0%, rgba(159,0,0,1) 49%, rgba(69,0,0,1) 100%);
    width: 20rem;
    height: 18rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-top: 1.5rem;
}

.container {
    width: 11rem;
    height: 11rem;
    position: relative;
}

.one-one {
    margin-left: 0.55rem;
    width: 1rem;
    height: 2rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.848);
    transform: rotate(50deg);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.one-two {
    margin-left: 1.5rem;
    margin-top: -2rem;
    width: 1.2rem;
    height: 5rem;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.zero-one {
    position: absolute;
    margin-top: -5rem;
    margin-left: 2rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: 25px solid rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.zero-two {
    position: absolute;
    margin-top: -5rem;
    margin-left: 5.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: 25px solid rgba(240, 240, 240, 0.959);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.paragraph, .textDays{
    margin-top: -0.5rem;
    text-align: center;
    color: white;
    text-transform: uppercase;  
}
.textDays h1{
    font-size: 55px;
    letter-spacing: 2px;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.paragraph{
    position: absolute;
    margin-top: 6rem;
}
.paragraph p{
    font-size: 16px;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}