* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', 'Courier', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(90deg, rgba(172,0,0,1) 0%, rgba(159,0,0,1) 49%, rgba(55,0,0,1) 100%);
}

.frame {
    background: linear-gradient(280deg, rgba(172,0,0,1) 0%, rgba(159,0,0,1) 49%, rgba(69,0,0,1) 100%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 20rem;
    height: 18rem;
    border-radius: 5px;
    padding-top: 5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
.one-one,.one-two,.zero-one,.zero-two{
    position: absolute;
    top: 0;
}
 .one-one {
    top: 4rem;
    width: 0.9rem;
    height: 1.7rem;
    border-radius: 2px;
    background-color: #fff;
    transform: rotate(50deg);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 0;
}

.one-two {
    width: 1rem;
    height: 5rem;
    z-index: 2;
    top: 4.035rem;
    left: 5.5rem;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #fff;
}


.zero-one {
    left: 6rem;
    top: 4rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: 25px solid #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1;
}

.zero-two {
    left: 10rem;
    top: 4rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: 25px solid #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 2;
}
.paragraph, .textDays{
    margin-top: -0.5rem;
    text-align: center;
    color: white;
    text-transform: uppercase;  
}
.textDays h1{
    font-size: 65px;
    letter-spacing: 2px;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.paragraph p{
    margin-top: -1rem;
    font-size: 19px;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
} 